.description {
  display: none;
}

.clickName {
  color: #00abbf;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
}

img {
  border-radius: 25px;
  width: 100%;
}

.btn {
  background-color: #7ccbb6;
  border: 3px solid #46947f;
  margin-top: 10px;
  width: 50%;
}

.btn:hover {
  background-color: #e6d58f;
  border: 3px solid #46947f;
}

.col-md-6 {
  padding: 20px;
}

.jumbotron {
  background-color: #B25585;
  color: white;
  text-align: center;
}

a {
  color: silver;
}
