.description {
  opacity: 0;
}

.clickName {
  color: #00abbf;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
}

.animalAdopted {
  opacity: 0;
  color: #B25585;
  font-family: Berkshire Swash;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 25px;
  width: 100%;
}

.btn-adopt {
  background-color: #7ccbb6;
  border: 3px solid #46947f;
  margin-top: 10px;
  width: 50%;
  border-radius: 20px;
}

.btn-adopt:hover {
  background-color: #e6d58f;
  border: 3px solid #46947f;
}

.col-md-6 {
  padding: 20px;
}

.jumbotron {
  background-color: #B25585;
  color: white;
  text-align: center;
  border-radius: 40px;
}

a {
  color: silver;
}

h1 {
  font-family: Berkshire Swash;
  font-size: 60px;
}

h3 {
  font-family: Berkshire Swash;
  font-size: 30px;
}

body {
  font-family: Raleway;
}
